{{#link-to 'add-user' class="btn btn-primary"}}Add user{{/link-to}}
<table class="table table-hovered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Position</th>
			<th>Age</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{{#each model as |item|}}
	  	<tr>
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.email}}</td>
			<td>{{item.position}}</td>
			<td>{{item.age}}</td>
			<td>
				{{#link-to 'edit-user' item.id class="btn btn-default"}}
					<span class="glyphicon glyphicon-pencil"></span>
				{{/link-to}}
				&nbsp;
				<button {{action 'delete' item}} class="btn btn-default">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
{{outlet}}
